<footer>
    <div class="row">
        <div class="col-six tab-full pull-right social">
            <ul class="footer-social">        
             <!-- Facebook -->
               {% if socialInfo.facebook %}
               <li>
                   <a href="{{ socialInfo.facebook }}" target="_blank">
                       <i class="fa fa-facebook"></i>
                   </a>
               </li>
               {% endif %}

               <!-- Behance -->
               {% if socialInfo.behance %}
               <li>
                   <a href="{{ socialInfo.behance }}" target="_blank">
                       <i class="fa fa-behance"></i>
                   </a>
               </li>
               {% endif %}

               <!-- Twitter -->
               {% if socialInfo.twitter %}
               <li>
                   <a href="{{ socialInfo.twitter }}" target="_blank">
                       <i class="fa fa-twitter"></i>
                   </a>
               </li>
               {% endif %}

               <!-- GitHub -->
               {% if socialInfo.github %}
               <li>
                   <a href="{{ socialInfo.github }}" target="_blank">
                       <i class="fa fa-github"></i>
                   </a>
               </li>
               {% endif %}

               <!-- LinkedIn -->
               {% if socialInfo.linkedin %}
               <li>
                   <a href="{{ socialInfo.linkedin }}" target="_blank">
                       <i class="fa fa-linkedin"></i>
                   </a>
               </li>
               {% endif %}

               <!-- Dribbble -->
               {% if socialInfo.dribbble %}
               <li>
                   <a href="{{ socialInfo.dribbble }}" target="_blank">
                       <i class="fa fa-dribbble"></i>
                   </a>
               </li>
               {% endif %}

               <!-- Instagram -->
               {% if socialInfo.instagram %}
               <li>
                   <a href="{{ socialInfo.instagram }}" target="_blank">
                       <i class="fa fa-instagram"></i>
                   </a>
               </li>
               {% endif %}

               <!-- Reddit -->
               {% if socialInfo.reddit %}
               <li>
                   <a href="{{ socialInfo.reddit }}" target="_blank">
                       <i class="fa fa-reddit"></i>
                   </a>
               </li>
               {% endif %}
          </ul> 
     </div>

     <div class="col-eight tab-full">
         <div class="copyright">
               <span id="copyright"></span>

               <span>Design by|| <a href="http://www.styleshout.com/">ar_rahim</a></span> 
               <span>Develop by|| <a href="https://themewagon.com/">ar_rahim</a></span>	         	
            </div>		                  
         </div>

         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
         </div>

     </div> <!-- /row -->     	
</footer> 