<section id="intro" style="background: #15151555 url('{{about.background_img.url}}') center calc(-100px); 
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;">
 <div class="intro-overlay"></div>	
 <!--=========: Start intro-content :============-->
     <div class="intro-content">
         <div class="row ">
             <div class="col-twelve ">
                 <h5>Hello, World.</h5>
                 <h1>I'm {{about.name}}.</h1>
                 <p class="intro-position">
                    <span>
                        <small id="dynamic-title"></small>
                    </span>
                 </p>
                 <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>
             </div>  
         </div>   		 		
     </div>  
 <!--==========: End intro-content :=============--> 
 
 <!--===========: Start intro-social :===========--> 
     <ul class="intro-social">        
         <li><a href="{{ socialInfo.linkedin }}" target = "__blank"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="{{socialInfo.github}}" target="__blank"><i class="fa fa-github"></i></a></li>
         <li><a href="{{socialInfo.twitter}}" target = "__blank"><i class="fa fa-twitter"></i></a></li>
     </ul>      	
 <!--=========: End intro-social :=========-->      	
</section> 

<script>
    const titles = {{ titles|safe }};
</script>