<section id="resume" class="grey-section">	
	<!--======: Resume Intro Start :========-->
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Resume</h5>
            <h1>More of my credentials.</h1>
            <p class="lead">
                {{ResumeWholeDesc.description}}
            </p>
        </div>   		
    </div>
	<!--=======: Resume Intro End :=========-->

	<!--=====: Experience Section Start :======-->
		{% include "experience.html" %}
	<!--=======: Experience Section End :======-->

	<!--=======: Education Section  start :=====-->
		{% include "education.html" %}
	<!--=======: Education Section End :========-->	
</section>